.el-radio-button__inner{
    background-color:#a7a9ac;
    color:white;
    border: 0cm;
    font-size: 16px;
}
.el-radio-button__inner:hover{
    
    color:green;
    
}
.el-carousel__item{
    background: transparent !important;
}